<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <script type="text/javascript" src="_LAYDATE_/laydate.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="" method="get">
			<select name="company">
			{foreach name="companylist" item='v' key='k'}
            <option value="{$v.id}" {if condition="$data.company==$v.id"}selected{/if}>{$v.full_name}</option>
            {/foreach}
            </select>
			<b>{$data.order_type}</b>
			单号<input type='text' name="number" value="{$data.number}" />
            开始日期<input type='text' name='start_time' id='start_time' value="{$data.start_time}" />
            结束日期<input type='text' name='end_time' id='end_time' value="{$data.end_time}" />
            <input type="hidden" name="order" value="{$data.order}" />
    <button type="submit" class="btn btn-primary">查询</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th style="width:5%">单号日期</th>
        <th style="width:5%">手工单号</th>
        <th style="width:5%">卡号</th>
        <th style="width:5%">单据总额</th>
        <th style="width:5%">操作</th>
    </tr>
    </thead>
    	{volist name="list" id="cashier" }
	    <tr style="color:{if condition="$cashier.status===2"}red{/if}{if condition="$cashier.status===3"}purple{/if}{if condition="$cashier.status===4"}blue{/if}">
	        <td>{$cashier.time|date="Y-m-d H:i:s",###}</td>
	        <td>{$cashier.number}</td>
	        <td>{$cashier.member_no}</td>
	        <td>{$cashier.real_money}</td>
	        <td>
	        	<a href="{:URL('Cashier/edit_business_documents')}?id={$cashier.id}">编辑</a>
	        	{if condition="$cashier.status neq 2"}
	        	{php}if(in_array('cashier/del_business_documents',$power)){{/php}
	        	<a href="#none" onclick="abc({$cashier.id})">作废</a>
	        	{php}}{/php}
	        	{/if}
	        </td>
        </tr>
        {/volist}
</table>
<div class="inline pull-right page">
	{$list->render()}
</div>
</body>
</html>
<script>
    $(function () {
        //日历使用2
		var start = {
		  elem: '#start_time',
		  event: 'focus',
		  format: 'YYYY-MM-DD', //日期格式
		  istime: true, //是否开启时间选择
		  max: laydate.now(), //最大日期
		  istoday: true,
		  choose: function(datas){
		     end.min = datas; //开始日选好后，重置结束日的最小日期
		     end.start = datas //将结束日的初始值设定为开始日
		  }
		};
		var end = {
		  elem: '#end_time',
		  event: 'focus',
		  format: 'YYYY-MM-DD', //日期格式
		  istime: true, //是否开启时间选择
		  max: laydate.now(),
		  istoday: true,
		  choose: function(datas){
		    start.max = datas; //结束日选好后，重置开始日的最大日期
		  }
		};
		laydate(start);
		laydate(end);
    });
		function abc(id){
			if(confirm('确认作废该单据吗？')){
				window.location.href = '{:URL('Cashier/del_business_documents')}?id='+id;
			}
		}

</script>