<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <script type="text/javascript" src="_LAYDATE_/laydate.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .checkboxtd label{
        	display: inline-block;;
        }


    </style>
</head>
<form action="" method="post">
<input type="hidden" name="id" value="{$cashier.id}" />
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td class="tableleft"></td>
        <td colspan="3">
	    {php}if(in_array('cashier/edit_business_documents',$power)){{/php}
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
	    {php}}{/php}
	    <button type="reset" class="btn btn-primary" type="button">刷新</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" id="backid">返回</button>
        </td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">手工单号</td>
        <td><input type="text" disabled  value="{$cashier.number}" /></td>
        <td class="tableleft">单据日期</td>
        <td><input type='text' name="time" id='time' value="{$cashier.time|date="Y-m-d H:i:s",###}" /></td>
    </tr>
    <tr>
        <td class="tableleft">会员卡号</td>
        <td><input type="text" disabled value="{$cashier.member_no}" /></td>
        <td width="10%" class="tableleft">会员姓名</td>
        <td>
        	<input type='text' disabled value="{$cashier.member_name}" />
        </td>
    </tr>
    <tr>
        <td colspan='4'>
        	<table class="table table-bordered table-hover definewidth m10" id="payway">
        		<tr>
	        		<th>项目名称</th>
	        		<th>标准价</th>
	        		<th>数量</th>
	        		<th>支付方式</th>
	        		<th>抵扣类型</th>
	        		<th>抵扣码</th>
	        		<th>抵扣金额</th>
	        		<th>金额</th>
	        		<th>类型</th>
	        		<th>大工</th>
	        		<th>类型</th>
	        		<th>中工</th>
        		</tr
    			{volist name="cashiers" id="cashiers"}        		
        		<tr>
        			<td>{$cashiers.services_name}</td>
        			<td>{$cashiers.standard_price}</td>
        			<td>{$cashiers.count}</td>
        			<td>
        				{php}if($cashiers['pay']==11||$cashiers['pay']==15){{/php}
        					<select name="pay[{$cashiers.id}]">
        						<option value="11" {php}if($cashiers['pay']==11)echo 'selected';{/php}>现金支付</option>
        						<option value="15" {php}if($cashiers['pay']==15)echo 'selected';{/php}>银行卡支付</option>
        					</select>
        				{php}}else{{/php}
        					{$cashiers.pay_name}
        				{php}}{/php}
        			</td>
        			<td>{$cashiers.deductible_pay}</td>
        			<td>{$cashiers.coupons_code}</td>
        			<td>{$cashiers.deductible}</td>
        			<td>{$cashiers.discount}</td>
        			<td>{$cashiers.ftype}</td>
        			<td>{$cashiers.fworker}</td>
        			<td>{$cashiers.stype}</td>
        			<td>{$cashiers.sworker}</td>
        		</tr>
        		{/volist}
        	</tbale>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {  
    	//日历使用1
	    laydate({
	    	// //http://www.layui.com/doc/modules/laydate.html  官网  http://www.layui.com/laydate/
	    	elem: '#time', //需显示日期的元素选择器
		  	event: 'focus', //触发事件
		 format: 'YYYY-MM-DD hh:mm:ss', //日期格式
		  //format: 'YYYY-MM-DD', //日期格式
		  istime: true, //是否开启时间选择
		  //isclear: true, //是否显示清空
		  //istoday: true, //是否显示今天
		  //issure: true, //是否显示确认
		  //festival: true //是否显示节日
		  //min: '1900-01-01 00:00:00', //最小日期
		  max: laydate.now(), //最大日期
		  //start: '2014-6-15 23:00:00',  //开始日期
		 //fixed: false, //是否固定在可视区域
		  //zIndex: 99999999, //css z-index
		  //choose: function(dates){ //选择好日期的回调
		 
		 // }

		});
})
</script>
