<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <script type="text/javascript" src="_LAYDATE_/laydate.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="" method="get">
			<select name="company">
			{foreach name="companylist" item='v' key='k'}
            <option value="{$v.id}"{if condition="$data.company_id==$v.id"} selected{/if}>{$v.full_name}</option>
            {/foreach}
            </select>
            开始日期<input type='text' name='start_time' id='start_time' value="{$data['start_time']}" />
            结束日期<input type='text' name='end_time' id='end_time' value="{$data['end_time']}" />
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" id="backid">返回列表</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>日期</th>
        <th>实际收入</th>
        <th>总营业额</th>
        <th>销卡总额</th>
        <th>劳动业绩</th>
        <th>支出</th>
        <th>卡异动合计</th>
        <th>经理签单</th>
        <th>欠款金额</th>
        <th>抵用卷</th>
        <th>储值账户</th>
        <th>电子钱包</th>
        <th>团购</th>
        <th>现金支付</th>
        <th>银行卡支付</th>
        <th>疗程系统</th>
        <th>应存现金</th>
    </tr>
    </thead>
    	{volist name="list" id="data" }
	     <tr>
            <td>{$data.date}</td>
	        <td>{$data.real_income}</td>
	        <td>{$data.total_money}</td>
	        <td>{$data.total_consumption}</td>
	        <td>{$data.wallet_labor_performance}</td>
	        <td>{$data.spending}</td>
	        <td>{$data.all_consumption}</td>
	        <td>{$data.arrears_consumption}</td>
	        <td>0</td>
	        <td>{$data.vouchers_consumption}</td>
	        <td>{$data.wallet_consumption}</td>
	        <td>{$data.ewallet_consumption}</td>
	        <td>{$data.tuangou_consumption}</td>
	        <td>{$data.cash}</td>
	        <td>{$data.ycard}</td>
	        <td>{$data.old_wallet_consumption}</td>
	        <td>{$data.cash_now}</td>
        </tr>
        {/volist}
</table>

</body>
</html>
<script>
    $(function () {
        //日历使用2
		var start = {
		  elem: '#start_time',
		  event: 'focus',
		  format: 'YYYY-MM-DD', //日期格式
		  //istime: true, //是否开启时间选择
		  max: laydate.now(), //最大日期
		  istoday: true,
		  choose: function(datas){
		     end.min = datas; //开始日选好后，重置结束日的最小日期
		     end.start = datas //将结束日的初始值设定为开始日
		  }
		};
		var end = {
		  elem: '#end_time',
		  event: 'focus',
		  format: 'YYYY-MM-DD', //日期格式
		  //istime: true, //是否开启时间选择
		  max: laydate.now(),
		  istoday: true,
		  choose: function(datas){
		    start.max = datas; //结束日选好后，重置开始日的最大日期
		  }
		};
		laydate(start);
		laydate(end);
		$('#backid').click(function(){
				window.history.back();
		 });
    });

</script>