<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>简结婚-互联网婚礼策划,比传统婚庆公司更高性价比,婚庆策划平台</title>
  <meta name="keywords" content="婚礼、婚礼策划、婚庆、婚庆策划、婚庆公司、婚庆网、婚庆工作室">  
  <meta name="description" content="简结婚-互联网婚礼策划平台,提供婚礼策划,婚礼策划师,婚礼摄像,婚礼跟妆,婚礼主持人,无论预算多少,均由婚礼策划师亲自打造。">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="_RECEPTION_/images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="_RECEPTION_/scss/bootstrap/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="_RECEPTION_/dist/theme.css" />

  <!-- javascript -->
  <script src="_RECEPTION_/js/jquery.min.js"></script>
  <script src="_RECEPTION_/js/popper.min.js"></script>
  <script src="_RECEPTION_/dist/theme.min.js"></script>
</head>
<body>
{include file="../application/index/view/common/header.html" /}
  <div class="agency-about-hero">
    <section class="container">
      <div class="row">
        <div class="hero-text">
          <p class="customFadeInUp">
           
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="agency-about-intro">
    <div class="container">
      <p>
        婚礼是人一辈子最重要的一天，我们努力让您在这一天快乐、轻松、幸福。我们知道这一天对于新人的意义，所以一直努力，努力背负起这份责任，不辜负这份期待。
      </p>
    </div>
  </div>

  <div class="agency-about-team">
    <div class="container">
      <h4>
        婚礼人
      </h4>
      <hr>
      <h3>
        策划师, 主持人, 摄影师, 摄像师, 化妆师
      </h3>
      <div class="row">
       {foreach name="professional" item='v' key='k'}
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="{:URL('professional/detail',['id'=>$v.id])}">
                <i class="fa fa-twitter"></i>
              </a>
              <!--<a href="#">
                <i class="fa fa-github"></i>
              </a>-->
            </div>
            <img src="{$v['head']}" style="width:128px;height:128px"/>
          </div>
          <div class="name">
          	<a href="{:URL('professional/detail',['id'=>$v.id])}">
            {$v['nick']}
            </a>
          </div>
    	</div>
    	{/foreach}
      </div>
    </div>
  </div>

  <div class="agency-portfolio">
    <div class="container">
      <h2>
        精选真实婚礼案例
      </h2>
      <div class="row">
        {foreach name="marrycase" item='v' key='k'}
		<div class="col-lg-4 col-md-6">
          <a href="{:URL('marry_case/detail',['id'=>$v.id])}" class="project">
            <span class="mask">
              <span class="info">
                <h3>{$v.title}</h3>
                <p>
                  ¥{$v.cost}<br>
                  {$v.time|date="Y-m-d",###}-{$v.title} {$v.hotel}
                </p>
              </span>
              <span class="btn-see-project">
                查看案例
              </span>
            </span>
            <span style="background-image:url('{$v.head}');" class="pic">
            </span>
          </a>
        </div>
        {/foreach}
      </div>
    </div>
  </div>

  <!--<div class="agency-about-clients">
    <div class="container">
      <header>
        <h4>我们的合作伙伴</h4>
      </header>
      <img src="_RECEPTION_/images/graphics/clients.jpg" class="img-fluid" />
    </div>
  </div>-->
  <div class="agency-about-clients">
    <div class="container">
      <header>
        <h4>我们的合作伙伴</h4>
      </header>
      <img src="_RECEPTION_/images/friendlink/jd.png" class="img-fluid" style="width:24%;height:60px" />
      <!--<img src="_RECEPTION_/images/friendlink/hhl.jpg" class="img-fluid" style="width:24%;height:60px" />
      <img src="_RECEPTION_/images/friendlink/valentino.jpg" class="img-fluid" style="width:24%;height:60px" />
      <img src="_RECEPTION_/images/friendlink/zss.jpg" class="img-fluid" style="width:24%;height:60px" />-->
    </div>
</div>
{include file="../application/index/view/common/footer.html" /}


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    // e.src='//www.google-analytics.com/analytics.js';
    // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
</body>
</html>