<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/jquery.sorted.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="" method="get">
    <select name="search_type">
            <option value="1" {if condition="$search.search_type eq 1 "} selected{/if}>公司名字</option>
            <option value="2" {if condition="$search.search_type eq 2 "} selected{/if}>公司地址</option>
            <option value="3" {if condition="$search.search_type eq 3 "} selected{/if}>公司编号</option>
    </select>
    <input type="text" name="search" id="rolename"class="abc input-default" placeholder="" value="{$search.search}">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>
    {php}if(in_array('company/add',$power)){{/php}
    &nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增公司</button>
    {php}}{/php}
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th style="width:10%">公司编号</th>
        <th style="width:15%">公司名称</th>
        <th style="width:10%">电话</th>
        <th style="width:30%">地址</th>
        <th style="width:10%">层级</th>
        <th style="width:5%">状态</th>
        <th style="width:10%">管理操作</th>
    </tr>
    </thead>
    	{volist name="list" id="company" }
	     <tr{if condition="$company.status===0"} style="color:red"{/if}>
            <td>{$company.number}</td>
            <td>{$company.full_name}</td>
            <td>{$company.telephone}</td>
            <td>{$company.address}</td>
            <td>{php}echo $level[$company['level']]{/php}</td>
            <td>{if condition="$company.status===0"}弃用{/if}{if condition="$company.status===1"}启用{/if}</td>
            <td>
            	{php}if(in_array('company/edit',$power)){{/php}
                  <a href="{:URL('company/edit',array('id'=>$company.id))}">编辑</a>
                {php}}{/php}
                {php}if(in_array('company/del',$power)){{/php}
                  <a href="#none" onclick="del({$company.id})">{if condition="$company.status===0"}启用{/if}{if condition="$company.status===1"}弃用{/if}</a>
                {php}}{/php}
            </td>
            {/volist}
        </tr></table>

<div class="inline pull-right page">
	{$list->render()}
</div> 
</body>
</html>
<script>
    $(function () {
        
		$('#addnew').click(function(){

				window.location.href="{:URL('Company/add')}";
		 });


    });

	function del(id)
	{
		
		if(confirm("确定该操作吗？"))
		{
		
			var url = "{:URL('Company/del')}?id="+id;
			
			window.location.href=url;		
		
		}
	
	
	
	
	}
</script>