<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/jquery.sorted.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th style="width:10%">会员姓名</th>
        <th style="width:15%">会员卡号</th>
        <th style="width:10%">所属门店</th>
        <th style="width:30%">会员卡类型</th>
        <th style="width:10%">电子钱包金额</th>
        <th style="width:10%">添加时间</th>
        <th style="width:5%">状态</th>
    </tr>
    </thead>
    	{volist name="list" id="data" }
	     <tr{if condition="$data.status===0"} style="color:red"{/if}>
            <td>{$data.name}</td>
            <td>{$data.card_no}</td>
            <td>{$data.full_name}</td>
            <td>{$data.cname}</td>
            <td>{$data.ewallet}</td>
            <td>{$data.time|date="Y-m-d H:i:s",###}</td>
            <td>{if condition="$data.status===0"}弃用{/if}{if condition="$data.status===1"}启用{/if}</td>
        </tr>
        {/volist}
 </table>

<div class="inline pull-right page">
	{$list->render()}
</div> 
</body>
</html>
<script>
    $(function () {
        
		$('#addLogin').click(function(){

				window.location.href="{:URL('Index/loginadd')}";
		 });


    });

	function del(id)
	{
		
		if(confirm("确定该操作吗？"))
		{
		
			var url = "{:URL('Index/loginedel')}?id="+id;
			
			window.location.href=url;		
		
		}
	
	
	
	
	}
</script>