
<div class="agency-footer" style="padding-bottom: 20px;">
    <a href="#" class="go-top">
      <i class="fa fa-angle-up"></i>
      TOP
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>关于我们</h4>
          <a href="#" class="legal">关于我们</a>
          <a href="#" class="legal">联系我们</a>
          <a href="#" class="legal">法律声明</a>
        </div>
        <div class="col-md-3">
          <h4>消费保障</h4>
          <a href="#" class="legal">实名认证</a>
          <a href="#" class="legal">定金担保</a>
          <a href="#" class="legal">价格透明</a>
        </div>
        <div class="col-md-3">
          <h4>售后服务</h4>
          <a href="#" class="legal">无忧退款</a>
          <a href="#" class="legal">应急服务</a>
          <a href="#" class="legal">免费咨询</a>
        </div>
        <div class="col-md-3">
          <h4>客服热线</h4>
          <p style="font-size: 28px;">
            400-123-456
          </p>
          <!-- <span style="color:#AFB9CB;">© 2017木师科技 蜀ICP备141407号</span> -->
        </div>
      </div>     
    </div>
      <div class="bottom" style="text-align: center;margin-top: 50px">
        <span style="text-align: center;color:#AFB9CB">
          © 2017木师科技  & 蜀ICP备141407号
        </span>
      </div> 
  </div>