<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <script type="text/javascript" src="_JS_/jquery.sorted.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
    <script type="text/javascript" src="_JS_/ckform.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<form action="{:URL('Service/childedit')}" method="post">
<input type="hidden" name="parent_id" value="{$services.parent_id}" />
<input type="hidden" name="id" value="{$services.id}" />

<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">项目名称</td>
        <td><input type="text" name="name" value="{$services.name}" readonly /></td>
        <td class="tableleft">服务类型</td>
        <td>
        	<input type="text" name="" value="{$services_type[$services['technician']]}" readonly />
        	<input type="hidden" name="technician" value="{$services.technician}" />
        </td>
        
    </tr>
    <tr>
        <td width="10%" class="tableleft">项目星级</td>
        <td>
        	<select name="star">
        	{foreach name="services_star" item='v' key='k'}
            <option value="{$v.id}" {if condition="$v.id eq $services.star"}selected {/if}>{$v.name}</option>
            {/foreach}
            </select>
        </td>
        <td width="10%" class="tableleft">时长</td>
        <td><input type="number" name="time_long" min="0" max="360" step="5" value="{$services.time_long}"  />分钟</td>
    </tr>
    <tr>
    	<td width="10%" class="tableleft">价格</td>
        <td><input type='number' name="price" min="0" max="10000"  value="{$services.price}" /></td>
        <td class="tableleft">是否打折</td>
        <td>
        	<select name="is_discount">
            <option value="1" {if condition="$services.is_discount eq 1"}selected {/if}>是</option>
            <option value="0" {if condition="$services.is_discount eq 0"}selected {/if}>否</option>
            </select>
        </td>
    </tr>
    <tr>
    	<td width="10%" class="tableleft">老价格</td>
        <td><input type='number' name="old_price" min="0" max="10000"  value="{$services.old_price}" /></td>
        <td class="tableleft">老价格是否打折</td>
        <td>
        	<select name="old_is_discount">
            <option value="1" {if condition="$services.old_is_discount eq 1"}selected {/if}>是</option>
            <option value="0" {if condition="$services.old_is_discount eq 0"}selected {/if}>否</option>
            </select>
        </td>
    </tr> 
    <tr>
    	<td width="10%" class="tableleft">特殊价格1</td>
        <td><input type='number' name="t1_price"  min="0" max="10000" value="{$services.t1_price}" /></td>
        <td class="tableleft">特殊价格1是否打折</td>
        <td>
        	<select name="t1_is_discount">
            <option value="1" {if condition="$services.t1_is_discount eq 1"}selected {/if}>是</option>
            <option value="0" {if condition="$services.t1_is_discount eq 0"}selected {/if}>否</option>
            </select>
        </td>
    </tr>
    <tr>
    	<td width="10%" class="tableleft">特殊价格2</td>
        <td><input type='number' name="t2_price"  min="0" max="10000" value="{$services.t2_price}" /></td>
        <td class="tableleft">特殊价格2是否打折</td>
        <td>
        	<select name="t2_is_discount">
            <option value="1" {if condition="$services.t2_is_discount eq 1"}selected {/if}>是</option>
            <option value="0" {if condition="$services.t2_is_discount eq 0"}selected {/if}>否</option>
            </select>
        </td>
    </tr>
    <tr>
    	<td width="10%" class="tableleft">APP散客价</td>
        <td colspan=3><input type='number' name="app_price" value="{$services.app_price}"  min="0" max="10000" /></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">是否默认</td>
        <td>
        	<select name="is_default">
            <option value="0" {if condition="$services.is_default eq 0"}selected {/if}>否</option>
            <option value="1" {if condition="$services.is_default eq 1"}selected {/if}>是</option>
            </select>
        </td>
        <td class="tableleft">状态</td>
        <td>
            <label><input type="radio" name="status" value="1" {if condition="$services.status eq 1"}checked {/if} /> 启用</label>
            <label><input type="radio" name="status" value="0" {if condition="$services.status eq 0"}checked {/if}/> 禁用</label>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td colspan="3">
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-primary" type="button">刷新</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.history.back();
		 });

    });
</script>