<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="_CSS_/style.css" />
    <script type="text/javascript" src="_JS_/jquery.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<form action="" method="post">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft" style="color:red">角色名称</td>
        <td><input type="text" name="name"/></td>
        <td class="tableleft">状态</td>
        <td>
            <label><input type="radio" name="status" value="1" checked/> 启用</label>
            <label><input type="radio" name="status" value="0"/> 禁用</label>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td colspan="3">
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="reset" class="btn btn-primary" type="button">刷新</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    	$('#backid').click(function(){
				window.history.back();
		 });
</script>
